
<!-- <h3>Burgers!</h3>
 -->
<!-- <ul>
  {{#each burgers}}
    <li>
       <p>ID: {{this.id}}</p>
       <p>burgers: {{this.burger_name}}</p>
    </li>
  {{/each}}
</ul>

<form action="/create" method="POST">
  <textarea type="text" name="burger_name"></textarea>

  <button type="submit">Submit</button>
</form>
 -->
<h1>Burgers!</h1>



<ul id="left">
<h2>Burgers not in my belly.</h2>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">TO BE EATEN!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>



<ul id="right">
<h2>Burgers in my belly.</h2>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">EATEN!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<div id="center">
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
  <h2>Add a Burger</h2>
    <label for="burg">Burger Name:</label>
    <br>
    <input type="text" id="burg" name="burger_name">
  </div>

  <div class="form-group">
    <br>
    <input type="radio" name="devoured" value="1" checked> Eaten!<br>
    <input type="radio" name="devoured" value="0"> To Be Eaten!
     <br>
    <br>
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
